.edit {
  &-List {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      gap: 1rem;
      padding: 0;
    }
  }
  &-Item {
    @include red-button;
  }

  &-page {
    &__content {
      margin-bottom: 2vh;
    }
    &__save-button {
      @include red-button;
      width: 100%;
    }
  }
}
