:root{
    --color-light: #FAFCFF;
    --color-dark: #1A3856;
    --color-accent: #C21631;
    --color-gray-alt: #4F6A84;

    --border: 1px solid #a0b3c6;
    --border-radus:0.5rem;

    --font-family-base: 'Inter', sans-serif;

    --container-width: 1280px;
    --container-padding-x: 20px;

    --section-padding-y: 70px

    --input-height: 52px
    --button-height: 52px

    --transition-duration: 0.2s;
}