@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter24pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter24pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FAFCFF;
  --color-dark: #1A3856;
  --color-accent: #C21631;
  --color-gray-alt: #4F6A84;
  --border: 1px solid #a0b3c6;
  --border-radus:0.5rem;
  --font-family-base: "Inter", sans-serif;
  --container-width: 1280px;
  --container-padding-x: 20px;
  --section-padding-y: 70px
  --input-height: 52px
  --button-height: 52px
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 769px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  margin: 0px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 5vh 0;
}

table {
  width: 100%;
  overflow-x: auto;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: none;
  color: inherit;
}

a {
  text-decoration: none;
}

h2,
h3,
h4 {
  font-weight: 500;
}

h2 {
  font-size: clamp(36px, 3.3333333333vp, 64px);
}

h3 {
  font-size: clamp(28px, 1.9791666667vp, 38px);
}

h4 {
  font-size: clamp(20px, 1.25vp, 24px);
}

ul {
  list-style-type: none;
}

.header {
  padding-top: 30px;
}
@media (max-width: 769px) {
  .header {
    padding-top: 15px;
  }
}
@media (max-width: 769px) {
  .header .logo__image {
    max-width: 42px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  font-size: 22px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  list-style-type: none;
}
@media (max-width: 769px) {
  .header__menu-list {
    display: none;
  }
}
@media (min-width: 769px) {
  .header__menu-list {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
    list-style-type: none;
  }
}
.header__menu-link {
  position: relative;
}
.header__menu-link:hover {
  color: var(--color-accent);
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 150%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: 0.2s;
  color: var(--color-accent);
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -100%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-accent);
  border-radius: 10px;
  box-shadow: 0 -8px var(--color-accent), 0 8px var(--color-accent);
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
}
@media (min-width: 1024px) {
  .cross-button {
    display: none;
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  height: 4px;
  background-color: var(--color-gray-alt);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 42px 40px;
}
.mobile-overlay.slide-in {
  transform: translateX(0%);
}
.mobile-overlay.slide-out {
  transform: translateX(100%);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wraper {
  display: flex;
  justify-content: end;
}
@media (max-width: 769px) {
  .mobile-overlay__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 0;
    min-height: 50v;
  }
}
@media (min-width: 769px) {
  .mobile-overlay__list {
    display: none;
  }
}
.mobile-overlay__link {
  color: var(--color-dark);
}
.mobile-overlay__link:hover {
  color: var(--color-accent);
}

.dropdown-menu__button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 22px;
  display: flex;
  position: relative;
  color: var(--color-dark);
}
@media (hover: hover) {
  .dropdown-menu__button:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .dropdown-menu__button:active {
    color: var(--color-accent);
  }
}
.dropdown-menu__button::after {
  position: relative;
  content: "";
  height: 0px;
  border: solid var(--color-dark);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 9px;
  right: -10px;
  transition: 0.2s;
}
.dropdown-menu__list {
  position: absolute;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  border-radius: var(--border-radus);
}
.header__menu-item.dropdown-menu__open .dropdown-menu__button::after {
  transform: rotate(-135deg);
  top: 7px;
}
.header__menu-item.dropdown-menu__open .dropdown-menu__list {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.dropdown-menu__item {
  padding: 20px;
}
.dropdown-menu__link {
  position: relative;
}
.dropdown-menu__link:hover {
  color: var(--color-accent);
}
@media (hover: hover) {
  .dropdown-menu__link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .dropdown-menu__link:active::after {
    width: 100%;
  }
}
.dropdown-menu__link::after {
  content: "";
  position: absolute;
  top: 150%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: 0.2s;
  color: var(--color-accent);
}

.mobile-dropdown__button {
  font-size: 18px;
}

.dropdown-menu__button::after {
  top: 6px;
  right: -10px;
}
.header__menu-item.dropdown-menu__open .dropdown-menu__button::after {
  top: 5px;
}

.footer {
  background-color: var(--color-dark);
  color: #a0b3c6;
}
.footer__body {
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (max-width: 769px) {
  .footer__body {
    padding-bottom: 2px;
  }
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 80px;
       column-gap: 80px;
  border-bottom: var(--border);
}
@media (max-width: 1023px) {
  .footer__menu {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 769px) {
  .footer__menu {
    display: block;
  }
}
.footer__menu-column {
  text-align: center;
}
@media (max-width: 769px) {
  .footer__menu-column {
    margin-bottom: 60px;
  }
}
.footer__menu-list {
  padding: 0;
  min-width: 150px;
}
.footer__menu-main-name {
  color: var(--color-light);
}
.footer__menu-link:hover {
  color: var(--color-light);
}

.login {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__inner {
  background-color: #fff;
  padding: 48px;
  border-radius: var(--border-radus);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.login__form {
  /* padding: 20px; */
  border: var(--border);
  border-radius: var(--border-radus);
}
.login__form-title {
  border-bottom: var(--border);
  padding: 12px 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.login__form-userName {
  padding: 20px 35px 10px 35px;
}
.login__form-userName-input {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
}
.login__form-userName-input, .login__form-userName-input:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .login__form-userName-input:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .login__form-userName-input:active {
    border-color: #ac0000;
  }
}
.login__form-password {
  padding: 10px 35px 20px 35px;
}
.login__form-password-input {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
}
.login__form-password-input, .login__form-password-input:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .login__form-password-input:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .login__form-password-input:active {
    border-color: #ac0000;
  }
}
.login__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 35px 20px 35px;
}
.login__form-button-submit {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
}
@media (hover: hover) {
  .login__form-button-submit:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .login__form-button-submit:active {
    background-color: #ac0000;
  }
}

.registration {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration__inner {
  background-color: #fff;
  padding: 48px;
  border-radius: var(--border-radus);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.registration__form {
  /* padding: 20px; */
  border: var(--border);
  border-radius: var(--border-radus);
}
.registration__form-title {
  border-bottom: var(--border);
  padding: 12px 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.registration__form-userName {
  padding: 30px 35px 20px 35px;
}
.registration__form-userName-input {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.registration__form-userName-input, .registration__form-userName-input:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .registration__form-userName-input:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .registration__form-userName-input:active {
    border-color: #ac0000;
  }
}
.registration__form-password {
  padding: 10px 35px 20px 35px;
}
.registration__form-password-input {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.registration__form-password-input, .registration__form-password-input:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .registration__form-password-input:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .registration__form-password-input:active {
    border-color: #ac0000;
  }
}
.registration__form-email {
  padding: 10px 35px 20px 35px;
}
.registration__form-email-input {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.registration__form-email-input, .registration__form-email-input:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .registration__form-email-input:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .registration__form-email-input:active {
    border-color: #ac0000;
  }
}
.registration__form-role {
  padding: 10px 35px 20px 35px;
}
.registration__form-role-input {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.registration__form-role-input, .registration__form-role-input:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .registration__form-role-input:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .registration__form-role-input:active {
    border-color: #ac0000;
  }
}
.registration__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 35px 20px 35px;
}
.registration__form-button-submit {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}
@media (hover: hover) {
  .registration__form-button-submit:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .registration__form-button-submit:active {
    background-color: #ac0000;
  }
}

.offer-card__item {
  padding: 24px 16px;
  border: solid var(--color-accent) 1px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-width: 260px;
  min-height: 408px;
}
.offer-card__created_at {
  color: var(--color-gray-alt);
  opacity: 0.6;
  font-size: 14px;
}
.offer-card__title {
  font-weight: bold;
  font-size: calc(23.9649px + 0.974659vw);
}
.offer-card__requirements {
  overflow: hidden; /* Скрытие выходящего за границы текста */
  text-overflow: ellipsis; /* Добавление "..." */
  max-width: 100%;
  white-space: pre-wrap;
  margin-bottom: 20px;
  color: var(--color-gray-alt);
  /*     opacity: 0.8; */
  font-size: 14px;
}
.offer-card__employment {
  padding: 4px 8px;
  border-radius: 16px;
  border: 15px var(--color-accent);
  background-color: var(--color-accent);
  color: white;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  margin-bottom: 20px;
}
.offer-card__footer {
  border-top: var(--border);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: auto;
  padding-top: 20px;
}
.offer-card__body {
  display: flex;
  justify-content: space-between;
}
.offer-card__button-del {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.offer-card__button-edit {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.TableOffers__content {
  display: flex;
  gap: 24px;
  justify-content: center;
  /* align-items: center; */
}
.TableOffers__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TableOffers__open-filter {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  background-color: var();
}
@media (min-width: 1024px) {
  .TableOffers__open-filter {
    display: none;
  }
}
.TableOffers__lenght {
  font-size: 20px;
}
.TableOffers__create-offers {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
}
@media (hover: hover) {
  .TableOffers__create-offers:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .TableOffers__create-offers:active {
    background-color: #ac0000;
  }
}
.TableOffers__list {
  padding: 0;
  display: grid;
  gap: 24px;
}
@media (min-width: 769px) {
  .TableOffers__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 769px) {
  .TableOffers__list {
    width: 100%;
  }
}

.createOffers {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createOffers__inner {
  background-color: #fff;
  padding: 48px;
  border-radius: var(--border-radus);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.createOffers__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radus);
}
.createOffers__form-name {
  border-bottom: var(--border);
  padding: 12px 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.createOffers__form-block-input {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.createOffers__form-block-input, .createOffers__form-block-input:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .createOffers__form-block-input:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .createOffers__form-block-input:active {
    border-color: #ac0000;
  }
}
.createOffers__form-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createOffers__form-button-submit {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}
@media (hover: hover) {
  .createOffers__form-button-submit:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .createOffers__form-button-submit:active {
    background-color: #ac0000;
  }
}
.createOffers__small-text {
  font-size: 14px;
  opacity: 0.6;
  margin: 0;
}
.createOffers-back {
  opacity: 0.6;
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-gray-alt);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  font-size: 16px;
  margin-right: 1vh;
}
@media (hover: hover) {
  .createOffers-back:hover {
    background-color: var(--color-dark);
  }
}
@media (hover: none) {
  .createOffers-back:active {
    background-color: var(--color-dark);
  }
}

@media (max-width: 1023px) {
  .offers-filters__desktop {
    display: none;
  }
}
.offers-filters__form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 24px;
  border-radius: var(--border-radus);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 260px;
}
@media (max-width: 1023px) {
  .offers-filters__form {
    width: 100%;
    box-sizing: border-box;
  }
}
.offers-filters__form-block-select {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.offers-filters__form-block-select, .offers-filters__form-block-select:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .offers-filters__form-block-select:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .offers-filters__form-block-select:active {
    border-color: #ac0000;
  }
}
.offers-filters__form-button {
  display: flex;
}
.offers-filters__form-button-back {
  opacity: 0.6;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-gray-alt);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  font-size: 16px;
}
@media (hover: hover) {
  .offers-filters__form-button-back:hover {
    background-color: var(--color-dark);
  }
}
@media (hover: none) {
  .offers-filters__form-button-back:active {
    background-color: var(--color-dark);
  }
}
.offers-filters__title {
  font-weight: bold;
}
.offers-filters__name {
  font-size: 14px;
  opacity: 0.6;
  margin: 0;
}
@media (min-width: 1024px) {
  .offers-filters__mobile {
    display: none;
  }
}

.pageOffer__container-button {
  display: flex;
  justify-content: space-between;
}
.pageOffer__back {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
}
@media (hover: hover) {
  .pageOffer__back:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .pageOffer__back:active {
    background-color: #ac0000;
  }
}
.pageOffer__response {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  font-size: 18px;
  width: auto;
}
@media (hover: hover) {
  .pageOffer__response:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .pageOffer__response:active {
    background-color: #ac0000;
  }
}

.resume__inner {
  max-width: 775px;
}
.resume__photo-width {
  width: 250px;
}
.resume__img {
  display: flex;
  flex-direction: column; /* ключевой момент */
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.resume__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .resume__body {
    display: block;
  }
}
.resume__end {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}
.resume__input {
  display: grid;
  gap: 24px;
  margin-bottom: 24px;
}
@media (min-width: 769px) {
  .resume__input {
    min-width: 450px;
  }
}
.resume__contact-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.resume__buttin-img {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  font-size: 18px;
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .resume__buttin-img:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .resume__buttin-img:active {
    background-color: #ac0000;
  }
}
@media (hover: hover) {
  .resume__buttin-img:hover {
    background-color: var(--color-dark);
    opacity: 0.95;
  }
}
@media (hover: none) {
  .resume__buttin-img:active {
    background-color: var(--color-dark);
    opacity: 0.95;
  }
}
.resume__buttin-pdf {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  font-size: 18px;
  width: 100%;
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .resume__buttin-pdf:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .resume__buttin-pdf:active {
    background-color: #ac0000;
  }
}
@media (hover: hover) {
  .resume__buttin-pdf:hover {
    background-color: var(--color-dark);
    opacity: 0.95;
  }
}
@media (hover: none) {
  .resume__buttin-pdf:active {
    background-color: var(--color-dark);
    opacity: 0.95;
  }
}
.resume__buttin-save {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  font-size: 18px;
  width: 100%;
}
@media (hover: hover) {
  .resume__buttin-save:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .resume__buttin-save:active {
    background-color: #ac0000;
  }
}

.viewing-resume__inner {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.viewing-resume__photo-width {
  width: 250px;
}
.viewing-resume__contact-list {
  padding: 0px;
}
.viewing-resume__body {
  display: flex;
  border-bottom: 2px solid var(--color-accent);
  justify-content: space-between;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}
@media (max-width: 769px) {
  .viewing-resume__body {
    display: block;
  }
}
.viewing-resume__contact-list, .viewing-resume__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}
.viewing-resume__form-block:empty {
  display: none;
}

.response-user__list {
  display: grid;
  gap: 24px;
}
@media (max-width: 769px) {
  .response-user__list {
    padding: 0;
  }
}
.response-user__item {
  /* display: flex; */
  border: var(--border);
  border-radius: var(--border-radus);
  display: grid;
  grid-template-columns: 1fr 1fr auto auto;
  gap: 20px;
  padding: 15px;
}
@media (max-width: 769px) {
  .response-user__item {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.response-user__rejected {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .response-user__rejected:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .response-user__rejected:active {
    background-color: #ac0000;
  }
}
@media (hover: hover) {
  .response-user__rejected:hover {
    background-color: var(--color-gray-alt);
  }
}
@media (hover: none) {
  .response-user__rejected:active {
    background-color: var(--color-gray-alt);
  }
}
.response-user__approved {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
}
@media (hover: hover) {
  .response-user__approved:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .response-user__approved:active {
    background-color: #ac0000;
  }
}
.response-user__cursor {
  cursor: pointer;
}

.createMessage {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createMessage__inner {
  background-color: #fff;
  padding: 48px;
  border-radius: var(--border-radus);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.createMessage__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radus);
}
.createMessage__form-name {
  border-bottom: var(--border);
  padding: 12px 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.createMessage__form-block-input {
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.createMessage__form-block-input, .createMessage__form-block-input:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .createMessage__form-block-input:hover {
    border-color: #ac0000;
  }
}
@media (hover: none) {
  .createMessage__form-block-input:active {
    border-color: #ac0000;
  }
}
.createMessage__form-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createMessage__form-button-submit {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}
@media (hover: hover) {
  .createMessage__form-button-submit:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .createMessage__form-button-submit:active {
    background-color: #ac0000;
  }
}

.tableMessage__list {
  display: grid;
  gap: 24px;
}
@media (max-width: 769px) {
  .tableMessage__list {
    padding: 0;
  }
}
.tableMessage__item {
  border: var(--border);
  border-radius: var(--border-radus);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 15px;
}
@media (max-width: 769px) {
  .tableMessage__item {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.tableMessage__cursor {
  cursor: pointer;
}

.breadcrumbs {
  font-size: 20px;
  padding: 15px;
  border-radius: 0.5rem;
  font-weight: 700;
}

.edit-List {
  display: flex;
  justify-content: space-between;
}
.edit-Item {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
}
@media (hover: hover) {
  .edit-Item:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .edit-Item:active {
    background-color: #ac0000;
  }
}
.edit-page__content {
  margin-bottom: 2vh;
}
.edit-page__save-button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  width: 100%;
}
@media (hover: hover) {
  .edit-page__save-button:hover {
    background-color: #ac0000;
  }
}
@media (hover: none) {
  .edit-page__save-button:active {
    background-color: #ac0000;
  }
}/*# sourceMappingURL=styles.css.map */