.registration {
  background-color: transparent;
  @include flex-center(false);
  &__inner {
    background-color: #fff;
    padding: 48px;
    border-radius: var(--border-radus);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
      0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  &__form {
    /* padding: 20px; */
    border: var(--border);
    border-radius: var(--border-radus);
    &-title {
      border-bottom: var(--border);
      padding: 12px 20px;
      text-align: center;
      font-size: 22px;
      font-weight: 700;
    }
    &-userName {
      padding: 30px 35px 20px 35px;
      &-input {
        @include standart-register-input;
      }
    }
    &-password {
      padding: 10px 35px 20px 35px;
      &-input {
        @include standart-register-input;
      }
    }
    &-email {
      padding: 10px 35px 20px 35px;
      &-input {
        @include standart-register-input;
      }
    }
    &-role {
      padding: 10px 35px 20px 35px;
      &-input {
        @include standart-register-input;
      }
    }
    &-button {
      @include flex-center(false);
      padding: 0px 35px 20px 35px;
      &-submit {
        @include red-button;
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
      }
    }
  }
}

.ollUsser__form-button {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.OllUsers__form-block-input {
  @include mobile {
    display: block;
    width: 100%;
  }
  @include standart-register-input;
  width: 20%;
  &--email {
    @include standart-register-input;
    width: 30%;
  }
}
.OllUsers__form-block-button {
  @include red-button;
}
.OllUsers-ul {
  padding: 0;
}
.OllUsers-form {
  display: flex;
  margin: 2rem;
  gap: 12px;
}
