.createOffers {
  background-color: transparent;
  @include flex-center(false);
  &__inner {
    background-color: #fff;
    padding: 48px;
    border-radius: var(--border-radus);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
      0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    border: var(--border);
    border-radius: var(--border-radus);
    &-name {
      border-bottom: var(--border);
      padding: 12px 20px;
      text-align: center;
      font-size: 22px;
      font-weight: 700;
    }
    &-block {
      &-input {
        @include standart-register-input;
      }
    }
    &-button {
      margin-top: 20px;
      @include flex-center(false);
      &-submit {
        @include red-button;
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
      }
    }
  }
  &__small-text {
    font-size: 14px;
    opacity: 0.6;
    margin: 0;
  }

  &-back {
    opacity: 0.6;
    @include reset-button;
    background-color: var(--color-gray-alt);
    color: #fff;
    border-radius: var(--border-radus);
    padding: 6px 12px;
    font-size: 16px;
    @include hover {
      background-color: var(--color-dark);
    }
    margin-right: 1vh;
  }
}
