.pageOffer {
  &__container-button {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
  }
  &__back {
    @include red-button;
  }
  &__response {
    @include red-button;
    font-size: 18px;
    width: auto;
  }
}
