.TableOffers {
  &__header {
    display: flex;
    @include flex-center;
    justify-content: space-between;
  }

  &__create-offers {
    @include red-button;
  }

  &__list {
    padding: 0;
    display: grid;
    gap: 24px;
    @include mobile-above {
      grid-template-columns: 1fr;
    }

    @include mobile-above {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window {
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  width: 100%;
}

.modal-button {
  @include reset-button;
  @include square(48px);

  top: 5vh;
  right: 5vw;

  position: absolute;

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 70%;
    height: 4px;
    background-color: var(--color-dark);
    border-radius: 5px;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
