.TableOffers {
  &__content {
    display: flex;
    gap: 24px;
    justify-content: center;
    /* align-items: center; */
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__open-filter {
    @include reset-button;
    width: 44px;
    height: 44px;
    background-color: var();
  }
  &__lenght {
    font-size: 20px;
  }

  &__create-offers {
    @include red-button;
  }

  &__list {
    padding: 0;
    display: grid;
    gap: 24px;
    @include mobile-above {
      grid-template-columns: 1fr;
    }

    @include mobile-above {
      grid-template-columns: 1fr 1fr;
    }
  }
}
