<main class="login">
  <div class="login__inner">
    <form class="login__form" method="post">
      <div class="login__form-title">Вход в МУИВ JOB</div>
      <div class="login__form-userName">
        <input
          class="login__form-userName-input"
          type="text"
          placeholder="Логин"
          name="UserName"
        />
      </div>
      <div class="login__form-password">
        <input
          class="login__form-password-input"
          type="password"
          placeholder="Пароль"
          name="password"
        />
      </div>
      <div class="login__form-button">
        <button class="login__form-button-submit" type="submit">Вход</button>
      </div>
    </form>
  </div>
</main>
