<main class="login">
  <div class="login__inner">
    <form class="login__inner-form" method="post">
      <div class="login__inner-form-title">Вход в МУИВ JOB</div>
      <div class="login__inner-form-login">
        <input
          class="login__inner-form-login-input"
          type="text"
          placeholder="Логин"
          name="login"
        />
      </div>
      <div class="login__inner-form-password">
        <input
          class="login__inner-form-password-input"
          type="password"
          placeholder="Пароль"
          name="password"
        />
      </div>
      <div class="login__inner-form-button">
        <button class="login__inner-form-button-submit" type="submit">
          Вход
        </button>
      </div>
    </form>
  </div>
</main>
