<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__body">
      <nav class="footer__menu">
        <div class="footer__menu-column">
          <span class="footer__menu-main-name">Где нас найти</span>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a href="/" class="footer__menu-link"
                >г. Москва, 2-й Кожуховский пр-д, 12, стр.1 Главный корпус, 1
                этаж, кабинет №111</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <span class="footer__menu-main-name">Время работы</span>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a href="/" class="footer__menu-link">Пн.-чт.: 09.00-17.00</a>
            </li>
            <li class="footer__menu-item">
              <a href="/" class="footer__menu-link">Пт.: 09.00-16.00</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <span class="footer__menu-main-name">Телефон центра</span>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a href="tel:+74957836848" class="footer__menu-link"
                >+7 (495) 783-68-48, доб.5119</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <span class="footer__menu-main-name">Ссылки</span>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a href="/" class="footer__menu-link">Карта сайта</a>
            </li>
            <li class="footer__menu-item">
              <a href="/" class="footer__menu-link"
                ><img src="../img\VK.svg" alt=""
              /></a>
            </li>
            <li class="footer__menu-item">
              <a href="/" class="footer__menu-link"
                ><img src="../img/TG.svg" alt=""
              /></a>
            </li>
            <li class="footer__menu-item">
              <a href="/" class="footer__menu-link"
                ><img src="../img\YT.svg" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="footer__extra"></div>
  </div>
</footer>
