<header class="header">
  <div class="header__inner container">
    <a href="/" class="header__logo logo">
      <img
        src="../img/logo-muiv-mini.svg"
        alt="MUIV"
        class="logo__image"
        width="80"
        height="80"
        loading="lazy"
      />
    </a>
    <nav class="header__menu hidden-mobile">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <button class="dropdown-menu__button">Инфо</button>
          <ul class="dropdown-menu__list">
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">О центре</a>
            </li>
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Новости</a>
            </li>
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Работодателям</a>
            </li>
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Партнеры</a>
            </li>
          </ul>
        </li>

        <li class="header__menu-item">
          <button class="dropdown-menu__button">Студент</button>
          <ul class="dropdown-menu__list">
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Вакансии</a>
            </li>
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Мои резюме</a>
            </li>
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Отклики</a>
            </li>
          </ul>
        </li>

        <li class="header__menu-item">
          <button class="dropdown-menu__button">HR</button>
          <ul class="dropdown-menu__list">
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Мои вакансии</a>
            </li>
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Резюме</a>
            </li>
            <li class="dropdown-menu__item">
              <a href="" class="dropdown-menu__link">Отклики</a>
            </li>
          </ul>
        </li>

        <li class="header__menu-item">
          <a href="/" class="header__menu-link">Помощь</a>
        </li>
        <li class="header__menu-item">
          <a href="../scripts/logout.php" class="header__menu-link">Профиль</a>
        </li>
      </ul>
    </nav>
    <button
      class="button__burger-button burger-button visible-mobile"
      type="button"
      onclick="mobile0verlay.showModal()"
    >
      <span class="visually-hidden">open nav menu</span>
    </button>
  </div>
</header>

<dialog class="mobile-overlay visible-mobile" id="mobile0verlay">
  <form class="mobile-overlay__close-button-wraper" method="dialog">
    <button class="mobile-overlay__close-button cross-button" type="submit">
      <span class="visually-hidden">Close nav menu</span>
    </button>
  </form>
  <div class="mobile-overlay__body">
    <ul class="mobile-overlay__list">
      <li class="header__menu-item">
        <button class="dropdown-menu__button mobile-dropdown__button">
          Инфо
        </button>
        <ul class="dropdown-menu__list">
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">О центре</a>
          </li>
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Новости</a>
          </li>
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Работодателям</a>
          </li>
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Партнеры</a>
          </li>
        </ul>
      </li>

      <li class="header__menu-item">
        <button class="dropdown-menu__button mobile-dropdown__button">
          Карьера
        </button>
        <ul class="dropdown-menu__list">
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Вакансии</a>
          </li>
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Мои резюме</a>
          </li>
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Отклики</a>
          </li>
        </ul>
      </li>

      <li class="header__menu-item">
        <button class="dropdown-menu__button mobile-dropdown__button">
          HR
        </button>
        <ul class="dropdown-menu__list">
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Мои вакансии</a>
          </li>
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Резюме</a>
          </li>
          <li class="dropdown-menu__item">
            <a href="" class="dropdown-menu__link">Отклики</a>
          </li>
        </ul>
      </li>

      <li class="mobile-overlay__item">
        <a href="" class="mobile-overlay__link">Помощь</a>
      </li>
      <li class="mobile-overlay__item">
        <a href="" class="mobile-overlay__link">Профиль</a>
      </li>
    </ul>
  </div>
</dialog>
<script src="../scripts/blocks/dropdown.js"></script>
