.header {
  padding-top: 30px;

  @include mobile {
    padding-top: 15px;
  }

  .logo__image {
    @include mobile {
      max-width: 42px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    font-size: 22px;

    &-item {
      list-style: none;
    }
    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;
      list-style-type: none;
      @include mobile {
        display: none;
      }
      @include mobile-above {
        display: flex;
        align-items: center;
        column-gap: 40px;
        list-style-type: none;
      }
    }

    &-link {
      position: relative;

      &:hover {
        color: var(--color-accent);
      }

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 150%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: 0.2s;
        color: var(--color-accent);
      }
    }
  }
}
