@mixin red-button {
  @include reset-button;
  background-color: var(--color-accent);
  color: #fff;
  border-radius: var(--border-radus);
  padding: 6px 12px;
  width: 100%;
  @include hover {
    transition-duration: 0.2s;
    background-color: #ac0000;
  }
}

@mixin input-field {
  @include reset-link;
  border: var(--border);
  border-radius: var(--border-radus);
  padding: 6px 12px;
  @include hover {
    border-color: #ac0000;
  }
  outline: none;
}
